.env
backend/.env*
frontend/.env*
backend/node_modules/
frontend/node_modules/
.DS_Store
.idea/
.vscode/
.codebuddy

# 编译产物
*.js
*.js.map
*.d.ts
frontend/dist/
backend/dist/
frontend/build/
backend/build/

backend/data/
